[Unit]
Description=Easy remote file storage daemon
StartLimitIntervalSec=0
StartLimitBurst=10

[Service]
User=app
#PIDFile=/var/run/ezrfsd/dncd.pid
#Type=oneshot
# The configuration file application.properties should be here:
WorkingDirectory=/opt/ezlfs


# Run ExecStartPre with root-permissions
PermissionsStartOnly=true


ExecStartPre=-/bin/mkdir -p /opt/ezrfs
ExecStartPre=-/bin/mkdir -p /var/log/ezrfs
ExecStartPre=/bin/chown -R app:syslog /opt/ezrfs
ExecStartPre=/bin/chmod -R 775 /var/log/ezrfs
ExecStartPre=/bin/sleep 30

Environment="ENV=stage"

#https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStart=
#ExecStart=/usr/bin/java \
#        -Dlog4j.configurationFile=log4j2-spring.xml \
#        -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector \
#        -Dspring.profiles.active=stage \
#        -Denvironment-type=stage \
#        -XX:+UseConcMarkSweepGC \
#        -XX:CMSInitiatingOccupancyFraction=80 \
#        -XX:NewSize=756m \
#        -XX:MetaspaceSize=256m \
#        -Dsun.net.inetaddr.ttl=5 \
#        -Xloggc:/var/log/dnc/gc.log \
#        -verbose:gc \
#        -verbosegc \
#        -XX:+DisableExplicitGC \
#        -XX:+PrintGCDetails \
#        -XX:+PrintGCDateStamps \
#        -XX:+PreserveFramePointer \
#        -XX:+StartAttachListener \
#        -Xms256m \
#        -Xmx1024m \
#        -XX:+HeapDumpOnOutOfMemoryError \
#        -jar dncd.jar

ExecStart=/usr/bin/java \
        -Dlogging.level.org.springframework=INFO \
        -Dlogging.level.com.iconiux.ezrfs.daemon=INFO \
#        -Dlogging.file.name=dncd.log \
#        -Dlogging.file.path=/var/log/dnc \
        -XX:NewSize=756m \
        -XX:MetaspaceSize=256m \
#        -Dsun.net.inetaddr.ttl=5 \
#        -verbose:gc \
#        -verbosegc \
#        -XX:+DisableExplicitGC \
#        -XX:+PrintGCDetails \
#        -XX:+PreserveFramePointer \
#        -XX:+StartAttachListener \
        -Xms256m \
        -Xmx512m \
        -XX:+HeapDumpOnOutOfMemoryError \
        -jar ezrfsd.jar

SuccessExitStatus=143
StandardOutput=append:/var/log/ezrfs/ezrfsd.log
StandardError=append:/var/log/ezrfs/ezrfsd.error.log


KillSignal=SIGINT
TimeoutStopSec=20
Restart=always
RestartSec=15

LimitNOFILE=500000
LimitNPROC=500000

#https://www.freedesktop.org/software/systemd/man/systemd.exec.html#LimitCPU=
#LimitCPU=, LimitFSIZE=, LimitDATA=, LimitSTACK=, LimitCORE=, LimitRSS=, LimitNOFILE=, LimitAS=, LimitNPROC=, LimitMEMLOCK=, LimitLOCKS=, LimitSIGPENDING=, LimitMSGQUEUE=, LimitNICE=, LimitRTPRIO=, LimitRTTIME=¶

SyslogIdentifier=ezrfs

[Install]
WantedBy=multi-user.target


# https://www.freedesktop.org/software/systemd/man/journalctl.html
#check logs --- journalctl -u spring-mvc -f -o cat


